# Dependencies
node_modules
.pnp
.pnp.js

# Build Output
dist
dist-ssr
build
out

# Vite Cache
.vite/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment Variables
.env
.env.production
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor Directories and Files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Backend Uploads
kp-api/public/uploads/gallery/*
!kp-api/public/uploads/gallery/.gitkeep

# Database Dumps
*.sql
company_profile.sql
